<p>
	<strong>Title: </strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text: </strong>
	<%= @article.text %>
</p>

<p>
	<strong>Type: </strong>
	<%= @article.type %>
</p>

<%= link_to 'Article List', articles_path %>